<button class="follow-toggle" 
  data-user-id="<%= user.id %>" 
  data-hash="<%= {a: true} %>"
  data-initial-follow-state="<%= current_user.follows?(user) %>"
  data-banana-stuff="yumm"
  banana="what">  
</button>